<body
  class="break-words leading-normal
        bg-orange-50 text-zinc-900
         transition-colors duration-500 ease-in-out
         dark:bg-zinc-900 dark:text-zinc-300"
>
  <div class="mx-auto max-w-7xl px-2 pt-14 min-h-screen">
    <slot />
  </div>
</body>
